{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{% load admin_list %}{% get_unread_deposits_count %}</h3>
                    <p>Pending Deposits</p>
                </div>
                <div class="icon">
                    <i class="fas fa-money-bill-wave"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{{ block.super }}
{% endblock %}
